head
  link(rel='stylesheet', href='../style.css')
  link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header 
    img(src=schoolImage)
    h1 Node.js UK Plate Scan

  h2 please upload an image UK plate

  
  form(action="/" method = "POST" enctype="multipart/form-data").form  
    p
    |Your image
    input(type='file', name='imageSource').input   
    input(type='submit', value='Submit')